<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Released</th>
    <th>Release Year</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Delete</th>
  </tr>

  <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.released %></td>
      <td><%= song.release_year %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
      <td><%= link_to "Delete", song, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
